html {
  height:100%;
}
body {
  background: url(images/felt.jpg);
  margin: 0;
}


.card {
  width: 79px;
  height: 123px;
  margin-right: 10px;
}

.hand {
  display:flex;
  justify-content: center;
  padding: 10px;

}

main {
  border: 3px solid black;
  height:100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: .9fr 1.2fr .9fr;
}

#center-div {
  display:flex;
  justify-content: space-around;
}
#previous-hand, #game-info {
  border: 10px solid black;
  width: 30%;
  background: url(images/chalkboard.jpg);
  color:white;
  border-image: url(images/woodgrain.jpg) 25 30 10 20 repeat;
  padding: 10px;
}

p:first-child {
  text-align: center;
}

#reset-container{
  display: flex;
  justify-content:center;
}
